:root {
  --typewriterSpeed: 6s;
  --bgGradiant: linear-gradient(90deg, red, blue);
}

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap");


#title {
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: max-content;
}

#title::before,
#title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

.titleDark::before {
  background-color: dark;
  animation: typewriter var(--typewriterSpeed) steps(16) 1s forwards;  back
}


.titleWhite::before {
  background-color: white;
  animation: typewriter var(--typewriterSpeed) steps(16) 1s forwards;  back
}

#title::after {
  width: 0.125em;
  background-color: black;
  animation: typewriter var(--typewriterSpeed) steps(16) 1s forwards,
    blink 750ms steps(16) infinite;
}

.bg-gradiant {
  -webkit-background-clip: text;

 background-image: var(--bgGradiant);
  background-clip: text;
  color: transparent;
}

.headerImg {
  width: 100%;
}

@media screen and (max-width: 766px) {
  .headerImg {
    display: none;
  }
}

.dark {
  background-color: black;
}

.light {
  background-color: white;
}

#sun {
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 7px;
  margin-right: 5px;
}

#sun:hover {
  background-color: gainsboro;
  border-radius: 100%;
}

.titleDark::after {
    background-color: black;
}


.map-container-section {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-section iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}