@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap");

:root {
  --typewriterSpeed: 6s;
  --bgGradiant: linear-gradient(90deg, red, blue);
  --fs-xl: 5rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
}

@media (min-width: 40em) {
  :root {
    --fs-xl: 7rem;
    --fs-600: 2rem;
    --fs-400: 1.25rem;
  }

}




#title {
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: max-content;
}

#title::before,
#title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

.titleDark::before {
  background-color: dark;
  animation: typewriter var(--typewriterSpeed) steps(16) 1s forwards;  
}


.titleWhite::before {
  background-color: white;
  animation: typewriter var(--typewriterSpeed) steps(16) 1s forwards;  
}

#title::after {
  width: 0.125em;
  background-color: black;
  animation: typewriter var(--typewriterSpeed) steps(16) 1s forwards,
    blink 750ms steps(16) infinite;
}

.bg-gradiant {
  -webkit-background-clip: text;

 background-image: var(--bgGradiant);
  background-clip: text;
  color: transparent;
}

.headerImg {
  width: 100%;
}

@media screen and (max-width: 990px) {
  .headerImg {
    display: none;
  }

  .experiencia {
    top: 250px;
    position: relative;
  }
  .galeria {
    top: 200px;
    position: relative;
  }
  footer{
    top: 200px;
    position: relative;
  }


}

.dark {
  background-color: black;
}

.light {
  background-color: white;
}

#sun {
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 7px;
  margin-right: 5px;
}

#sun:hover {
  background-color: gainsboro;
  border-radius: 100%;
}

.titleDark::after {
    background-color: black;
}


.map-container-section {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-section iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.presentacion {
  background-color: #7510F7;
  color: white;
  text-align: center;
  height: 400px;
  padding: 50px;
  justify-content: center;
}

.cardCustom {
  padding: 20px;
}

.habilidades {
  position: relative;
  top: -150px;
  z-index: 5;
  height: 500px;
  text-align: center;
}

.purple {
  color: #7510F7;
}

.purple-bg {
  background-color: #7510F7;
}

html {
  scroll-behavior: smooth;
}

.presentacion p {
  display: inline-table;
  width: 50%;

  font-size: var(--fs-400);
}

.presentacion h2 {
  font-size: var(--fs-600);
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animation-left {
  animation: slidein 2s forwards;
}

@keyframes slidein-right {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animation-right {
  animation: slidein-right 2s forwards;
}



@media screen and (max-width: 990px) {
  .animation-right {
    animation: none;
  }
  .animation-left {
    animation: none;
  }
}